
.container {
  padding: 10px 20px 40px;
  margin: 0 auto;
  max-width: 520px;
}

.form-field {
  display: flex;
  margin-bottom: 13px;

  label {
    width: 140px;
    padding-top: 10px;

    span {
      color: red;
    }
  }
}

.inputWrapper {
  width: 100%;
}

.input {
  display: inline-block;
  width: 100%;
  height: 44px;
  padding: 0 14px 2px;
  color: #000;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: -0.01em;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.2s ease-out;
  outline: none;
}

.error-text {
  font-size: 13px;
  color: rgb(240, 63, 64);
  margin-top: 4px;
}

.join-wrapper {
  margin-top: 14px;
}

.btn-join {
  cursor: pointer;
  border: solid 1px #5c95f0;
  background-color: #5c95f0;
  color: #fff;
  width: 100%;
  height: 54px;
  border-radius: 6px;
  font-size: 18px;
}

.sns-wrapper {
  margin-top: 78px;
}

.btn-sns {
  cursor: pointer;
  border: solid 1px #ddd;
  color: #333;
  width: 100%;
  height: 54px;
  border-radius: 6px;
  font-size: 18px;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.btn-kakao {
  background-color: #fee500;
}

.btn-naver {
  margin-top: 10px;
  background-color: #21c603;
  color: #fff;
}

.btn-google {
  margin-top: 10px;
  background-color: #fff;
}

.sns-icon {
  position: absolute;
  left: 0px;
  top: 5px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  box-sizing: content-box;

  width: 42px;
  height: 42px;
  margin-right: 10px;
  margin-left: 0;
}

.kakao-icon {
  background-image: url(/images/ico_sns_kakao@2x.png);
}

.naver-icon {
  background-image: url(/images/ico_sns_naver@2x.png);
}

.google-icon {
  background-image: url(/images/ico_sns_google@2x.png);
}

.sns-text {
  display: inline-block;
}